---
import { CollectionEntry, getCollection } from "astro:content";
import dayjs from "dayjs";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../layouts/Prose.astro";
export async function getStaticPaths() {
    const allBlogPosts = await getCollection("blog");
    return allBlogPosts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await post.render();
---

<BaseLayout
    title={post.data.title}
    description={post.data.description}
    keywords={post.data.tags}
>
    <h1 class="text-4xl pb-2">{post.data.title}</h1>
    <div class="flex flex-col md:flex-row">
        <time class="text-xs pr-3"
            >{dayjs(post.data.pubDate).format("MMM DD, YYYY")}</time
        >
    </div>
    <Prose>
        <Content />
    </Prose>
</BaseLayout>
