---
import BaseLayout from "../layouts/BaseLayout.astro";
const keywords = ["missing", "error", "404"];
---

<BaseLayout
    title="Ryan Baird"
    description="404 - Page Not Found"
    keywords={keywords}
>
    <main class="min-h-full">
        <div
            class="mx-auto max-w-7xl py-16 px-6 text-center sm:py-24 lg:px-8 lg:py-48"
        >
            <p class="text-6xl font-bold text-white text-opacity-50">404</p>
            <h1 class="mt-2 text-base font-semibold tracking-tight text-whitel">
                Uh oh! I think you’re a little lost...
            </h1>
            <p class="mt-2 text-sm font-medium text-white text-opacity-50">
                Or the page you’re looking for doesn't exist.
            </p>
            <p class="mt-2 text-sm font-medium text-white text-opacity-50">
                <a href="/" class="text-white">&larr; Go back home</a>
            </p>
        </div>
    </main>
</BaseLayout>
