---
import BaseLayout from "@layouts/BaseLayout.astro";
import About from '@blurbs/about.mdx'
---
<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Development Portfolio & Blog"
>
    <div class="prose prose-lg">
        <About />
    </div>
</BaseLayout>