---
import BaseLayout from "@layouts/BaseLayout.astro";
import Career from '@blurbs/career.mdx'
---
<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Development Portfolio & Blog"
>
    <div class="prose prose-lg">
        <Career />
    </div>
</BaseLayout>