---
import Index from "@blurbs/index.mdx";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Development Portfolio & Blog"
>
    <div class="prose prose-lg">
        <Index />
    </div>
</BaseLayout>
