---
import BaseLayout from "@layouts/BaseLayout.astro";
import Index from "../blurbs/index.mdx";
---

<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Development Portfolio & Blog"
>
    <div class="prose prose-lg">
        <Index />
        <!-- <Education /> -->
        <!-- <Career /> -->
    </div>
</BaseLayout>
