---
import Projects from "@blurbs/projects.mdx";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Portfolio & Blog"
>
    <div class="prose prose-lg">
        <Projects />
    </div>
</BaseLayout>