---
import Career from "@blurbs/work.mdx";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="Ryan Baird"
    description="Ryan Baird's Development Portfolio & Blog"
>
    <div class="prose prose-lg">
        <Career />
    </div>
</BaseLayout>
