<form
    class="flex flex-col space-y-2"
    name="contact"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    action="/success"
>
    <label class="hidden" for="bot-field"
        >Don’t fill this out if you’re human:</label
    >
    <input class="hidden" type="text" name="bot-field" id="name" />
    <label for="name">Name:</label>
    <input required class="text-gray-700" type="text" name="name" id="name" />
    <label for="email">Email:</label>
    <input
        required
        class="text-gray-700"
        type="email"
        name="email"
        id="email"
    />
    <label for="topic">What can I help you with:</label>
    <select name="topic" id="topic" class="text-gray-700">
        <option value="general">General</option>
        <option value="consulting">Site Speed Audit</option>
        <option value="speaking">Work</option>
        <option value="other">Other</option>
    </select>
    <label for="message">Message:</label>
    <textarea required class="text-gray-700" name="message" id="message" rows="5"
    ></textarea>
    <button class="border text-red-400 py-3 hover:bg-red-500 hover:text-white transition-colors" type="submit">Submit</button>
</form>
