---
import Icon from "astro-icon";
const today = new Date();
const icons = [
    {
        name: "Github",
        handle: "uit:github-alt",
        link: "https://github.com/Rjbaird",
    },
    {
        name: "Linkedin",
        handle: "uit:linkedin-alt",
        link: "https://www.linkedin.com/in/bairdryan/",
    },
    {
        name: "Twitter",
        handle: "uit:twitter-alt",
        link: "https://twitter.com/ryanjohnbaird",
    },
    {
        name: "YouTube",
        handle: "uit:youtube",
        link: "https://youtu.be/dQw4w9WgXcQ",
    },
];
---

<footer class="text-white sticky top-[100vh] py-6 px-3 md:px-0">
    <div class="max-w-7xl mx-auto flex md:items-center justify-between">
        &copy;{today.getFullYear()} Ryan Baird
        <div class="flex justify-center space-x-6 md:order-2">
            {
                icons.map((icon) => (
                    <a
                        href={icon.link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-gray-300"
                    >
                        <span class="sr-only">{icon.name}</span>
                        <Icon name={icon.handle} class="h-7 w-7" />
                    </a>
                ))
            }
        </div>
    </div>
</footer>
