---
import profilePic from "../assets/images/profile_pic.jpg";
const navlinks = [
    {
        name: "Blog",
        url: "/blog",
    },
    {
        name: "Projects",
        url: "/projects",
    },
];
---

<header class="flex flex-row place-content-between pb-4">
    <a class="flex h-12 w-12 flex-row space-x-2" href="/">
        <img
            class="aspect-square h-8 w-8 rounded-full text-center"
            src={profilePic}
            alt="Ryan Baird Profile Picture"
        />
    </a>
    <nav class="flex items-end space-x-4 rounded text-white md:justify-end">
        {
            navlinks.map((link) => (
                <a class="md:text-xl" href={link.url}>
                    {link.name}
                </a>
            ))
        }
    </nav>
</header>
