---
import { getCollection, type CollectionEntry } from "astro:content";
import dayjs from "dayjs";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../layouts/Prose.astro";
export async function getStaticPaths() {
    const allProjects = await getCollection("projects");
    return allProjects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props as { project: CollectionEntry<"projects"> };
const { Content } = await project.render();
---

<BaseLayout
    title={project.data.title}
    description={project.data.description}
    keywords={project.data.tags}
>
    <h1
        class="bg-gradient-to-r from-blue-500 via-red-500 to-red-500 bg-clip-text pb-2 text-4xl text-transparent"
    >
        {project.data.title}
    </h1>
    <div class="flex flex-col md:flex-row">
        <time class="pr-3 text-xs"
            >{dayjs(project.data.pubDate).format("MMM DD, YYYY")}</time
        >
    </div>
    <Prose>
        <Content />
    </Prose>
</BaseLayout>
