---
import { getEntryBySlug } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../layouts/Prose.astro";
const entry = await getEntryBySlug("blurbs", "work");
const { Content } = await entry.render();
---

<BaseLayout title="Ryan's Work and Career" description={entry.data.description}>
    <h1 class="pb-2 text-xl text-red-400 underline">Work and Career</h1>
    <Prose>
        <Content />
    </Prose>
    <!-- <a
        href="./assets/docs/Ryan Baird - Dev - 2023.pdf"
        download="Ryan Baird PDF Resume">Download</a
    > -->
</BaseLayout>
